
.active {
    color: #000;
    cursor: default;
    background-color: #eae2e2;
    border: 1px transparent #ddd;
    border-bottom-color: transparent;
}

a {
    color: green;
    text-decoration: none;
  
}